@model List<TransactionDetailsViewModel>

@{
    ViewData["Title"] = "Service Details";
}
<div class="row">
    <div class="col-12" style="overflow-y: auto;">
        <table class="table table-responsive table-bordered text-deeppink display" id="example" style="width:100%">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Spare Part</th>
                    <th>Description</th>
                    <th>Done By</th>
                    <th>Maintenance Date</th>
                    <th>Maintenance Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model)
                {
                    <tr>
                        <td>@element.ProductDisplayedName</td>
                        <td>@element.SparePartDisplayedName</td>
                        <td>@element.Description</td>
                        <td>@element.DoneBy</td>
                        <td>@element.CreatedDateDate</td>
                        <td>@element.MaintenanceType</td>
                        <td><a class="btn btn-danger disabled">Undo</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Product</th>
                    <th>Spare Part</th>
                    <th>Description</th>
                    <th>Done By</th>
                    <th>Maintenance Date</th>
                    <th>Maintenance Type</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });
            var table = $('#example').DataTable({
                dom: 'Bfrtip',
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;
                        $('input', this.footer()).on('keyup change clear',
                            function () {
                                if (that.search() !== this.value) {
                                    that
                                        .search(this.value)
                                        .draw();
                                }
                            });
                    });
                },
                "responsive": true,
                "lengthChange": true,
                "autoWidth": true
            });
        });
    </script>
}

